* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
    z-index: -1;
    pointer-events: none;
}

.form-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
    color: white;
    overflow: hidden;
    padding-bottom: 90px; 
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 45px;
    width: 320px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 0;
}

.card input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.card input:focus {
    border-color: #2575fc;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.2);
    outline: none;
}

.card input::placeholder {
    color: #aaa;
}

.card button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-bottom: -90px; 
}

.card button:hover {
    background-color: #1a5bb8;
}

.form-label {
    color: #333;
    font-size: 14px;
    text-align: left;
    display: block;
    margin-bottom: 6px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #2575fc;
    outline: none;
}

.btn {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #2575fc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1a5bb8;
}

.logo {
    position: relative;
    margin: 0 auto -10px auto;
    margin-top: -30px; 
    width: 80px; 
    height: auto;
    display: block; 
}

.card-title {
    font-size: 20px;  
    color: #333; 
    margin-top: 5px; 
    margin-bottom: 15px; 
    text-align: center;  
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.loader img {
    animation: spin 2s linear infinite;
    width: 50px; 
    height: 50px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 80%; /* Ancho del modal */
    max-width: 600px; /* Máximo ancho del modal */
    position: relative; /* Posicionamiento relativo para el botón de cerrar */
    margin: auto; /* Centra el contenido del modal */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

.modal-content p {
    margin: 10px 0;
}

.modal-content ul {
    list-style: disc;
    padding-left: 20px;
}

.privacy-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    text-align: center;
}

.privacy-link:hover {
    text-decoration: underline;
}

/* Estilos para el checkbox personalizado */
.custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    text-align: left;
    cursor: pointer;
}

.custom-checkbox input {
    display: none;
}

.checkbox-icon {
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px;
}

.custom-checkbox input:checked + .checkbox-icon {
    background-color: #2575fc;
    border-color: #2575fc;
}

.checkbox-icon::after {
    content: '\2714'; /* Marca de verificación */
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-checkbox input:checked + .checkbox-icon::after {
    opacity: 1;
}

.checkbox-label {
    font-size: 12px;
    color: #333;
}

.password-container {
    position: relative;
}

#togglePassword {
    z-index: 1;
}