* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.registro-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image-section {
    background-color: #67191F;
    flex: 0.8; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.text1 {
    color: #67191F;
    font-weight: 700;
}

.text2 {
    color: #050404;
    font-weight: 600;
    font-size: 0.9em; 
}

.form-section {
    background-color: #EFDBBF;
    flex: 1.2; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.form-container {
    max-width: 600px; 
    width: 90%; 
    max-height: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #67191F;
    font-weight: bold;
    text-align: center;
}

.form-label {
    color: #67191F;
    margin-bottom: 0.25rem;
}

.form-control-sm {
    height: 2rem;
    padding: 0.25rem 0.5rem;
}

.volver-boton {
    background: none;
    color: #AB3031;
    font-weight: bold;
    text-decoration: underline;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
}

.volver-boton:hover {
    color: #8A2426;
    text-decoration: underline;
}


.boton {
    background-color: #AB3031;
    color: #fff;
    padding: 8px 16px;
    font-size: medium;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    width: 130px;
}

.boton:hover {
    background-color: #8A2426;
    color: #fff;
}

.center {
    text-align: center;
}

.custom-addon {
    background-color: #67191F;
    color: #FFFFFF;
    border-color: #67191F;
}

.input-group .form-control-sm:focus {
    border-color: #67191F;
    box-shadow: none;
}

.mb-2 {
    margin-bottom: 1rem; 
}


@media (max-width: 768px) {
    .registro-container {
        flex-direction: column; 
    }

    .image-section {
        height: 30vh; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-content {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }

    .form-section {
        height: 70vh; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        max-width: 90%; 
        padding: 15px;
    }
}


